body{
    background: linear-gradient(to right, rgb(138, 43, 226), rgb(34, 10, 56));
  }
  
h2 {
  display: inline;
  color: white;
  font-family: "Helvetica";
  font-size: 15px;
}

img {
  width: 50px;

}

span {
  color: rgb(138, 43, 226);
}

.goose {
  position: absolute;
  top: 90%;
  right: 5%;
}

.clock {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, .2);
}

.middle-bottom {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  left: 104px; 
  top: 2px;
  z-index: 1; 
}

.sec, .min, .hour {
  background-color: black;
  position: relative;
  top: 100px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  transform-origin: 100%;
}

.sec {
  width: 100px;    
  height: 2px;
  left: 25px;  
  background-color: #ffffff9d;
  z-index: 0;
}

.min {
  height: 3px;
  width: 90px;
  right: 41px;  
  background-color: rgba(34, 10, 56, 0.301);
}

.hour {
  height: 3px;
  width: 80px;
  right: 100px;

  background-color: rgba(34, 10, 56, 0.66);
}