body {
  background-color: white;
}

.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  height: 400px;
}

header {
  box-shadow: 1px 4px 10px 3px #eeeeee;
}

ul {
  background-color: white;
  box-shadow: 0;  
}

li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  margin: 5px;
}

.done {
  text-decoration: line-through;
}